* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;

    &:hover {
        text-decoration: underline;
    }
}


body {
    touch-action: pan-y;
    overflow-y: scroll;
    padding: 1rem .5rem 1rem;
    max-width: 700px;
}

body::-webkit-scrollbar {
    -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
    width: 0.75rem;
}

body::-webkit-scrollbar-thumb {
    background-color: transparent;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

body::-webkit-scrollbar-track {
    background-color: transparent;
}

a {
    color: #06c;
}

h1 {
    font-size: 1.1rem;
    padding-bottom: 1rem;
}

p {
    margin-bottom: .75rem;
}

.project {
    margin-bottom: 1.5rem;
}

.project img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
    margin-bottom: .5rem;
}

.project h3 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.project .description {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}

.links {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    margin-top: 12px;
}

.links a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
}

.contact {
    margin-top: 3rem;
    text-decoration: none;
}

footer {
    margin-top: 3rem;
    font-size: .9rem;
    color: #555;
}

@media (max-width: 600px) {
    body {
        max-width: 100%;
    }

    .project img {
        height: 150px;
    }
}